.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: $spacing-xl;

  padding: $spacing-xl;

  & .search-bar {
    margin-left: auto;
    width: 280px;
  }

  & .wrapper {
    width: 100%;
  }
}
