/* spacings */
$spacing-xs: 2px;
$spacing-s: 4px;
$spacing-m: 6px;
$spacing-l: 8px;
$spacing-xl: 12px;
$spacing-2xl: 14px;
$spacing-3xl: 16px;
$spacing-4xl: 20px;
$spacing-5xl: 24px;
$spacing-7xl: 32px;
$spacing-8xl: 40px;
$spacing-9xl: 48px;
$spacing-15xl: 64px;
$spacing-20xl: 80px;

/* radiuses */
$radius-xs: 3px;
$radius-s: 6px;
$radius-m: 8px;
$radius-l: 12px;
$radius-xl: 16px;
$radius-2xl: 20px;
$radius-3xl: 24px;

/* colors */
$black: #1a1a1a;
$gray: #f3f3f3;
$green: #6cb853;
$error: #f04438;

$dark-40: #1a1a1a66;
