.modal-slide {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;

  display: flex;
  align-items: stretch;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-xl 0px;
  }

  &__title {
    font-size: $spacing-4xl;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: auto;

    background-color: $black;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: $spacing-xl;
    border-radius: $radius-s;
    width: 60%;
  }

  &__body {
    flex: 1;
    overflow: hidden auto;
  }
}

.modal-enter-from,
.modal-leave-to {
  background: transparent;

  .modal-slide__content {
    transform: translateX(100%);
  }
}

.modal-enter-active,
.modal-leave-active {
  transition: transform 0.5s;

  .modal-slide__content {
    transition: transform 0.5s ease-out;
  }
}
